Checks: '-*,modernize-*,performance-*,readability-*,-readability-braces-*,-readability-magic-numbers,-modernize-avoid-c-arrays'
WarningsAsErrors: ''
HeaderFilterRegex: '.*'
FormatStyle:     none
CheckOptions:
  - key:             modernize-use-nullptr.NullMacros
    value:           'NULL'
  - key:             modernize-use-nullptr.UseNullptr
    value:           true
  - key:             modernize-use-auto.MinTypeNameLength
    value:           '5'
  - key:             readability-identifier-length.MinimumVariableNameLength
    value:           '1'
  - key:             readability-identifier-length.MinimumParameterNameLength
    value:           '1'
  - key:             readability-identifier-naming.VariableCase
    value:           aNy_CasE
  - key:             readability-identifier-naming.FunctionCase
    value:           lower_case
  - key:             readability-identifier-naming.ClassCase
    value:           aNy_CasE
  - key:             readability-identifier-naming.StructCase
    value:           aNy_CasE
  - key:             readability-identifier-naming.EnumCase
    value:           aNy_CasE
  - key:             readability-identifier-naming.EnumConstantCase
    value:           UPPER_CASE
  - key:             cppcoreguidelines-pro-type-member-init.HaltOnMissingInit
    value:           true
  - key:             cppcoreguidelines-pro-type-member-init.IgnoreArrays
    value:           false
  - key:             cppcoreguidelines-pro-type-member-init.IgnoreTriviallyConstructible
    value:           false
